In [1]:
import pandas as pd
import datetime as dt

In [19]:
data_2014_15=pd.read_csv("public_2014_2015.csv")
data_2016_17=pd.read_csv("public_2016_2017.csv")
data_2018=pd.read_csv("public_2018.csv")
data_2019=pd.read_csv("public_2019.csv")
data_2020=pd.read_csv("public_2020.csv")

In [23]:
print(data_2014_15.columns)
print(data_2016_17.columns)
print(data_2018.columns)
print(data_2019.columns)
print(data_2020.columns)

Index(['Date', 'Holiday Name', 'Information', 'More Information',
       'Applicable To'],
      dtype='object')
Index(['Date', 'Holiday Name', 'Information', 'More Information',
       'Applicable To'],
      dtype='object')
Index(['Date', 'Holiday Name', 'Information', 'More Information',
       'Applicable To'],
      dtype='object')
Index(['Date', 'Holiday Name', 'Information', 'More Information',
       'Applicable To'],
      dtype='object')
Index(['Date', 'Holiday Name', 'Information', 'More Information',
       'Applicable To'],
      dtype='object')

In [21]:
data_2019=data_2019.drop(["Raw Date"],axis=1)

In [22]:
data_2019=data_2019.rename(columns={"Jurisdiction":"Applicable To"})
data_2020=data_2020.rename(columns={"Jurisdiction":"Applicable To"})

In [41]:
public_holidays=pd.concat([data_2014_15,data_2016_17,data_2018,data_2019,data_2020])

In [42]:
public_holidays

,Date,Holiday Name,Information,More Information,Applicable To
0,20140101,New Year's Day,New Year's Day is the first day of the calenda...,NaN,NAT
1,20140127,Australia Day,Always celebrated on 26 January,NaN,NAT
2,20140303,Labour Day,"Always on a Monday, creating a long weekend. I...",http://www.commerce.wa.gov.au/labour-relations...,WA
3,20140310,March public holiday,The Holidays Act 1910 provides for the third M...,http://www.safework.sa.gov.au/show_page.jsp?id...,SA
4,20140310,Canberra Day,Held on the second Monday of March each year i...,http://www.cmd.act.gov.au/communication/holidays,ACT
...,...,...,...,...,...
99,20200601,Western Australia Day,Held on the first Monday in June each year and...,https://www.commerce.wa.gov.au/labour-relation...,wa
100,20200928,Queen's Birthday,Celebrated on second Monday in June except in ...,https://www.commerce.wa.gov.au/labour-relation...,wa
101,20201225,Christmas Day,Christmas Day is an annual holiday which celeb...,https://www.commerce.wa.gov.au/labour-relation...,wa
102,20201226,Boxing Day,Boxing Day occurs the day after Christmas. Syd...,https://www.commerce.wa.gov.au/labour-relation...,wa
103,20201228,Boxing Day (Additional day),Boxing Day occurs the day after Christmas. Syd...,https://www.commerce.wa.gov.au/labour-relation...,wa

In [43]:
public_holidays=public_holidays.drop(["Information","More Information"],axis=1)

In [44]:
vic_ph=public_holidays[public_holidays["Applicable To"].str.contains("|".join(["v","V","NAT"]))]

In [45]:
vic_ph=vic_ph.drop("Applicable To",axis=1)

In [46]:
vic_ph

        Date                 Holiday Name
0   20140101               New Year's Day
1   20140127                Australia Day
6   20140310                   Labour Day
7   20140418                  Good Friday
8   20140419              Easter Saturday
..       ...                          ...
87  20201023            Friday before the
88  20201103              AFL Grand Final
89  20201225                Christmas Day
90  20201226                   Boxing Day
91  20201228  Boxing Day (Additional day)

[93 rows x 2 columns]

In [47]:
vic_ph["Year"]=vic_ph.apply(lambda x:int(str(x.Date)[:4]),axis=1)
vic_ph["Month"]=vic_ph.apply(lambda x:int(str(x.Date)[4:6]),axis=1)
vic_ph["Day"]=vic_ph.apply(lambda x:int(str(x.Date)[6:]),axis=1)

In [48]:
vic_ph

        Date                 Holiday Name  Year  Month  Day
0   20140101               New Year's Day  2014      1    1
1   20140127                Australia Day  2014      1   27
6   20140310                   Labour Day  2014      3   10
7   20140418                  Good Friday  2014      4   18
8   20140419              Easter Saturday  2014      4   19
..       ...                          ...   ...    ...  ...
87  20201023            Friday before the  2020     10   23
88  20201103              AFL Grand Final  2020     11    3
89  20201225                Christmas Day  2020     12   25
90  20201226                   Boxing Day  2020     12   26
91  20201228  Boxing Day (Additional day)  2020     12   28

[93 rows x 5 columns]

In [89]:
school_hols=pd.read_csv("school_holidays.csv")

In [90]:
school_hols

    Year  start_date    end_date
0   2014   1/01/2014  27/01/2014
1   2014   5/04/2014  21/04/2014
2   2014  28/06/2014  13/07/2014
3   2014  20/09/2014   7/10/2014
4   2014  20/12/2014  31/12/2014
5   2015   1/01/2015  26/01/2015
6   2015  28/03/2015  12/04/2015
7   2015  27/06/2015  12/07/2015
8   2015  19/09/2015   5/10/2015
9   2015  19/12/2015  31/12/2015
10  2016   1/01/2016  26/01/2016
11  2016  25/03/2016  10/04/2016
12  2016  25/06/2016  10/07/2016
13  2016  17/09/2016   2/10/2016
14  2016  21/12/2016  31/12/2016
15  2017   1/01/2017  29/01/2017
16  2017   1/04/2017  17/04/2017
17  2017   1/07/2017  16/07/2017
18  2017  23/09/2017   8/10/2017
19  2017  22/12/2017  31/12/2017
20  2018   1/01/2018  28/01/2018
21  2018  30/03/2018  15/04/2018
22  2018  30/06/2018  15/07/2018
23  2018  22/09/2018   7/10/2018
24  2018  22/12/2018  31/12/2018
25  2019   1/01/2019  28/01/2019
26  2019   6/04/2019  22/04/2019
27  2019  29/06/2019  14/07/2019
28  2019  21/09/2019   6/10/2019
29  2019  21/12/2019  31/12/2019
30  2020   1/01/2020  27/01/2020
31  2020  28/03/2020  13/04/2020
32  2020  27/06/2020  12/07/2020
33  2020  19/09/2020   4/10/2020
34  2020  19/12/2020  31/12/2020

In [61]:
base = dt.datetime(2014,1,1)
date_list = [base + dt.timedelta(days=x) for x in range(2557)]

In [62]:
date_list[-1]

datetime.datetime(2020, 12, 31, 0, 0)

In [68]:
dt.datetime.strptime(school_hols.iloc[1].start_date,'%d/%m/%Y')

datetime.datetime(2014, 4, 5, 0, 0)

In [96]:
date_list[0].weekday()

2

In [87]:
dt.datetime.strptime(school_hols.iloc[1].start_date,'%d/%m/%Y')<=date_list[27]<=dt.datetime.strptime(school_hols.iloc[1].end_date,'%d/%m/%Y')

False

In [104]:
j=0
Weekdays=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
hol_array=[]
day_array=[]
year_array=[]
month_array=[]
date_array=[]
weekday_int_array=[]
for single_date in date_list:
    year_array.append(single_date.year)
    month_array.append(single_date.month)
    date_array.append(single_date.day)
    day_array.append(Weekdays[single_date.weekday()])
    weekday_int_array.append(single_date.weekday())
    df=vic_ph[(vic_ph.Month==single_date.month)&(vic_ph.Day==single_date.day)&(vic_ph.Year==single_date.year)]
    if len(df)!=0:
        hol_array.append("PublicHoliday")
    else:
        i=0
        datebool=False
        while i<len(school_hols):
            if dt.datetime.strptime(school_hols.iloc[i].start_date,'%d/%m/%Y')<=single_date<=dt.datetime.strptime(school_hols.iloc[i].end_date,'%d/%m/%Y'):
                hol_array.append("SchoolHoliday")
                datebool=True
                break
            i=i+1
        if not datebool:
            hol_array.append("Normal")
    j=j+1

In [105]:
Date_df=pd.DataFrame()
Date_df["Year"]=year_array
Date_df["Month"]=month_array
Date_df["Day"]=date_array
Date_df["Weekday"]=day_array
Date_df["Weekday_int"]=weekday_int_array
Date_df["Seasonality"]=hol_array
Date_df

      Year  Month  Day Weekday  Weekday_int    Seasonality
0     2014      1    1     Wed            2  PublicHoliday
1     2014      1    2     Thu            3  SchoolHoliday
2     2014      1    3     Fri            4  SchoolHoliday
3     2014      1    4     Sat            5  SchoolHoliday
4     2014      1    5     Sun            6  SchoolHoliday
...    ...    ...  ...     ...          ...            ...
2552  2020     12   27     Sun            6  SchoolHoliday
2553  2020     12   28     Mon            0  PublicHoliday
2554  2020     12   29     Tue            1  SchoolHoliday
2555  2020     12   30     Wed            2  SchoolHoliday
2556  2020     12   31     Thu            3  SchoolHoliday

[2557 rows x 6 columns]

In [107]:
Date_df.to_csv("date_dim.csv",index=False)